@model IEnumerable<CSIRO_PROJECT.ViewModels.UserModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.userFName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userLName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userUni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userCourse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userContact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userCL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.userFName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userLName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userUni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userCourse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userContact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userCL)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.userId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.userId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.userId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
